<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <title>Symtentify</title>
</head>
<body>
    
    <div class="outside">
        <!-- File Upload Box (Left) -->
        <div class="frame-el">
            <div class="container">
                <div class="title-el">
                    <b style="font-size:300%">Symtentify</b>
                </div>
                <div class="title-el">
                    <form method="post" action="/" enctype="multipart/form-data" class=>
                            <p>
                                <input type="file" name="file" required/>
                            </p>
                        <p>
                            <a href="upload">
                                <input type="submit" value="Submit"/>
                            </a>
                        </p>    
                        </form>
                </div>
            </div>
        </div>
    </div>
        <!-- Information Box (Right) -->
        <div class="info-el">
            <h1>
                <!-- Possible Causes -->
            </h1>
            <p>
                <!-- The causes of this disease are x, y, z. -->
            </p>
            <h3>
                <!-- Here is a list of diseases that you could possible have: -->
            </h3>
            <ul>
                <li>
                    <!-- Symptom One -->
                </li>
                <li>
                    <!-- Symptom Two -->
                </li>
                <li>
                    <!-- Symptom Three -->
                </li>
            </ul>
        </div>

    <!--    JAVASCRIPT SECTION   -->
    <script src="script.js"></script>
</body>
</html>