<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <title>Symtentify</title>
</head>
<body>
{%  if filename %}
    <div class="outside">
        <div class="frame-el">
            <div class="container">
                <div class="title-el">
                    <b> {{ data[0] }}</b>
                    <div class="title">
                        <img src = "{{filename}}"> 
                    </div>   
                </div>
            </div>
            
        </div>
    </div>
            <!-- Information Box (Right) -->
            <div class="info-el">
                <h2>
                    {{ data[2] }}
                </h2>
                <p>
                    {{ data[1] }}
                </p>
                <h3>
                    {{ data[3] }}
                </h3>
            </div>

{% endif %}
</body> 
</html>