<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <title>Symtentify</title>
</head>
<body>
{%  if filename %}
    <div class="outside">
        <div class="frame-el">
            <div class="container">
                <div class="title-el">
                    <b> {{ data }}</b>
                    <div class="title">
                        <img src = "{{filename}}"> 
                    </div>   
                </div>
            </div>
            
        </div>
    </div>
            <!-- Information Box (Right) -->
            <div class="info-el">
                <h1>
                    <!-- Possible Causes -->
                </h1>
                <p>
                    <!-- The causes of this disease are x, y, z. -->
                </p>
                <h3>
                    <!-- Here is a list of diseases that you could possible have: -->
                </h3>
                <ul>
                    <li>
                        <!-- Symptom One -->
                    </li>
                    <li>
                        <!-- Symptom Two -->
                    </li>
                    <li>
                        <!-- Symptom Three -->
                    </li>
                </ul>
            </div>
{% endif %}
</body> 
</html>